@CHARSET "ISO-8859-1";

.btn{
	color:#e60000;
	background-color:#fff;
	outline:none;
	border: 1px solid #e60000;
}
.btn:hover{
	color:#fff;
	background-color:#e60000;
}

.btn:active {
    transform: scale(0.95);
}
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}

label {
  position: relative;
  display: block;
  width: 400px;
  overflow: hidden;
  cursor: pointer;
}

label::after {
  content: ' ';
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 100%;
  display: block;
  background: red url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAOBAMAAAGq7RFVAAAAJ1BMVEX///////////////////////////////////////////////////9Ruv0SAAAADHRSTlMACAoREoKDt7y9zc5qtZoyAAAAcklEQVQIHQXBsQnCUAAFwFOCCKbIABaWERzi1yaFAzmEpHYEC8GUKVQEkbyhvOOkZqdWt0/QYKqLzQeF7dv6y/RLwa2wYtk4Xxxe+t8yd1WuM/rcUc2gYHEeoP02umSgTR50ybBPRuiSZAS6ZAQ4jgCAPyjYJiRH4fymAAAAAElFTkSuQmCC') no-repeat center center;
  pointer-events: none;
}

label select {
  border: 5px solid #e60000;
  background: white;
  padding: 7px 20px 7px 20px;
  width: 100%;
  font-size: 16px;
 
  cursor: pointer;
}

label select::-ms-expand {
    display: none;
}

label :-moz-any(select) {
  width: 110%;
}

label.ie9 select {
  width: 110%;
}

